{% extends "base.html" %}


{% block content %}
{% include "navbar.html" %}<br> <br>
<div class="container">
    <p class="text-center text-uppercase fs-1">Gaurav Gupta</p>
    <pre class="text-center fs-3 fw-light">
    With his “Aarohanam” collection named after the term for
    a rising scale in Indian music,Gaurav Gupta continued his
    international ascension.
    </pre>
</div>
<div class="row">
        <div class="col-md-4 col-md-4">
            <img src="https://shop.gauravguptastudio.com/cdn/shop/files/Untitled-1_0032_GauravGupta_HCFW23_Look_Press_01_0021_GauravGupta_SS24_look_IG_10.jpg?v=1706205985&width=720" class="mx-auto d-block borderline" style="width: 550px; height: 780px" alt="...">
        </div>
        <div class="col-md-4">
            <img src="https://shop.gauravguptastudio.com/cdn/shop/files/Untitled-1_0032_GauravGupta_HCFW23_Look_Press_01_0018_GauravGupta_SS24_look_IG_13.jpg?v=1706206004&width=720" class="mx-auto d-block borderline" style="width: 550px; height: 780px" alt="...">
        </div>
        <div class="col-md-4">
            <img src="https://shop.gauravguptastudio.com/cdn/shop/files/Untitled-1_0032_GauravGupta_HCFW23_Look_Press_01_0007_GauravGupta_SS24_look_IG_24.jpg?v=1706206003&width=720" class="mx-auto d-block borderline" style="width: 550px; height: 780px" alt="..."><br> <br>
</div>

<div class="container-fluid">
        <pre class="text-start fs-4 " >
            Backstage before his much-delayed spring couture outing, Gaurav Gupta offered
            a meditation on its spiritual inspirations, such as the Sanskrit word Aarohanam,
            or the mudra, a symbolic gesture that would soon emerge as a brassiere cast in bronze.
            “Ancient cultures were so much more progressive, they didn’t even have to talk to
            each other to communicate,” he said. “Everything means something.”
        </pre>
</div>
    

{% endblock content %}

{% block bg_color %}light{% endblock bg_color %}

{% block title %}Gaurav Gupta{% endblock title %}