
{% extends "base.html" %}


{% block content %}
{% include "navbar.html" %}<br> <br>
<div class="container">
    <p class="text-center text-uppercase fs-1">Iris van Herpen</p>
    <pre class="text-center fs-3 fw-light">
    This season, Iris van Herpen celebrates the fifteenth anniversary
    of her Maison with ‘Meta Morphism,’ a collection that explores
    “the depths of the body in posthuman realities.”
    </pre>
    <img src="https://www.irisvanherpen.com/_uploaded/202207/_GIX0102_1-50.jpg" class="mx-auto d-block borderline" style="width: 550px; height: 780px" alt="..."><br><br>
    <img src="https://www.irisvanherpen.com/_uploaded/202207/_GIX0347_2-50.jpg" class="mx-auto d-block borderline" style="width: 550px; height: 780px" alt="..."><br><br>
    <img src="https://www.irisvanherpen.com/_uploaded/202207/_GIX0347-2_1-50.jpg" class="mx-auto d-block borderline" style="width: 550px; height: 780px" alt="..."><br><br>
    <img src="https://www.irisvanherpen.com/_uploaded/202207/_GIX0721_2-50.jpg" class="mx-auto d-block borderline" style="width: 550px; height: 780px" alt="..."><br><br>
    <img src="https://www.irisvanherpen.com/_uploaded/202207/_IKA5107_1-50.jpg" class="mx-auto d-block borderline" style="width: 550px; height: 780px" alt="...">

  </div>



{% endblock content %}

{% block bg_color %}light{% endblock bg_color %}

{% block title %}Iris van Herpen{% endblock title %}