{% extends "base.html" %}


{% block content %}
{% include "navbar.html" %}<br> <br>
<div class="container p-2">
    <p class="text-center text-uppercase fs-1">Wiederhoeft Crafts an Emotional Fairytale for SS25</p>
    <p class="text-center fs-4 fw-light">Fashion narratives empowered by transformation</p>

</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active c-item">
                <img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2024%2F09%2F11%2FWiederhoeft-2-scaled.jpg?q=90&w=1400&cbr=1&fit=max" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Wiederhoeft</h5>
                  <p>Fall / Winter 2024 Runway</p>
                </div>
              </div>
              <div class="carousel-item c-item">
                <img src="https://www.wiederhoeft.com/cdn/shop/files/6_1920x1080.jpg?v=1727372959" class="d-block w-100" alt="Slide 2">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Wiederhoeft</h5>
                  <p>Fall / Winter 2024 Runway</p>
                </div>
              </div>
              <div class="carousel-item c-item">
                <img src="https://cdn.prod.website-files.com/62ee0bbe0c783a903ecc0ddb/64938c5d4c40c3ab689f3d36_wie_fw23_034.jpg" class="d-block w-100" alt="Slide 3">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Wiederhoeft</h5>
                  <p>Fall / Winter 2024 Runway</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
    </div>
    <div class="col-md-3"></div>
</div>
<div class="container p-5">
    <pre class="text-start fs-4 ">
    Wiederhoeft continually takes its productions to the next level,creating more than 
    runway show presentations,but ornate productions that tell emotional stories.This 
    time around,for Spring/Summer 25, designer Jackson Wiederhoeft took the audience 
    on a journey of reflection;asking us to look inward and ask, “How are we molded
    by the passage of time?” an appropriate question to meditate upon, as the label 
    celebrates its fifth year anniversary.

    As the collection’s show notes profoundly state, “To wear Wiederhoeft is to look
    heartache directly in the eye and say‘remember me.’” Wiederhoeft often portrays
    poignant tales through his intricate designs, using the art as a mirror for 
    life’s paradoxes.

    The collection, titled “Dearly Loved Children and Warriors of the Living Breath”
    modifies the wearer’s body both temporarily and permanently as it may be shaped 
    momentarily by cinched waistlines, but there is a lasting impression left on the
    body as it is interwoven into the ongoing Wiederhoeft narrative.
    </pre>
</div>
<div class="row">
  <div class="col-md-4 mb-3 mb-sm-0">
    <div class="card"style="width: 30rem;">
      <img src="https://fashionista.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_700/MjAzODc4NTUzNjU2MzA1MTQ3/gaurav-gupta-haute-couture-fall-2023-collection-review-11.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gaurav Gupta</h5>
        <p class="card-text">Gaurav Gupta Leans Into Plated Metals for Spring 2024 Haute Couture</p>
        <a href="/Gaurav_Gupta" class="btn btn-light">see more</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card"style="width: 30rem;">
      <img src="https://www.trendystyle.com.hk/magazine/wp-content/uploads/2024/01/DG_MensFW24-25_Runway-21_resize.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dolce&Gabbana</h5>
        <p class="card-text">Dolce&Gabbana Men's Fall Winter 24/25 Milan Fashion Show. In search of the most authentic side of male elegance</p>
        <a href="/Dolce&Gabbana" class="btn btn-light">see more</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card"style="width: 30rem;">
      <img src="https://www.irisvanherpen.com/_uploaded/202207/_GIX0843_3-50.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iris van Herpen</h5>
        <p class="card-text">Fall 2022 Couture Collection: Iris Van Herpen's Ovid Myths “the depths of the body in posthuman realities.”</p>
        <a href="/Iris_van_Herpen" class="btn btn-light">see more</a>
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}

{% block bg_color %}light{% endblock bg_color %}

{% block title %}MAIN{% endblock title %}