{% extends 'base.html' %}

{% block content %}
<form method="POST" action="/signup">
<div class="container p-5 my-5 bg-dark text-white">
    <h2>Sign Up</h2>
    <form action="/signup" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-secondary") }}
</div>
{% endblock %}